/* TODO: estilos de letra que tiene la pagina  */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Anton', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');


/* TODO: codigo de la pagina */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #F9EC10;
    border-radius: 8px;
    border: 1px solid black;
}

header {
    width: 100%;
    height: 550px;
    background-image: url('/img/image-6.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #F9EC10;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    box-shadow: rgba(38, 57, 77) 0px 20px 30px -10px;
    position: sticky;
    top: 0;
    background: rgba(38, 38, 38, 1);
    animation: adjust-nav linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
}

@keyframes adjust-nav {
    to {
        box-shadow: rgba(38, 57, 77) 0px 20px 30px -10px;
        background-color: transparent;
    }
}


.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    box-shadow: 0px 0px 10px 4px rgb(255, 165, 0);
    text-align: center;
    border-radius: 10px;
}

.subtitulo-objetos {
    margin: 10px;
    font-size: 1rem;
    color: #F1EFEF;
    font-family: 'Raleway', sans-serif;
}


#contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#titulo-header {
    font-size: 6rem;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: #F1EFEF;
}

main {
    width: 100%;
    height: auto;
}

#primera-caja {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 480px;
    background-image: url('/svg/fondo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #F9EC10;
}

#personaje1 {
    height: 450px;
}

#titulo-cajita1 {
    font-family: 'Anton', sans-serif;
    color: #FFCD4B;
}

#parrafo-cajita1 {
    width: 400px;
    color: #F1EFEF;
}

#redes-sociales {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50px;
}

.cajita1-fotos-F {
    width: 45%;
    height: 150px;
    border: 1px solid #F9EC10;
}

#segunda-caja {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 600px;
    border-bottom: 1px solid #F9EC10;
    background-image: url('/svg/fondo2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contenedor-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(50px, 1fr));
    align-items: end;
    justify-content: center;
    width: 55%;
}



#card1 {
    height: 220px;
    background-color: transparent;
    box-shadow: 0px 0px 10px 4px rgb(255, 165, 0);
    padding: 0 10px 10px 20px;
    border: 2px solid rgb(255, 165, 0);
}

#titulo-card1 {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    color: #F9EC10;
}

#ul-card1 {
    list-style: disc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

#ul-card1 li {
    border-bottom: 2px solid #F9EC10;
}

#ul-card1 li a {
    color: #F1EFEF;
    text-decoration: none;
    font-size: 16px;
}

#card2 {
    height: 240px;
    background-color: #F9EC10;
    box-shadow: 0px 0px 10px 4px rgb(255, 165, 0);
    border: 2px solid rgb(255, 165, 0);

}

#card2-img {
    position: relative;
    bottom: 70%;
    height: 450px;
    left: calc(50% 200px);
}

#card3 {
    height: 260px;
    padding: 0 10px 10px 20px;
    background-color: transparent;
    box-shadow: 0px 0px 10px 4px rgb(255, 165, 0);
    border: 2px solid rgb(255, 165, 0);
}

#ul-card3 {
    list-style: disc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

#ul-card3 li {
    border-bottom: 2px solid #F9EC10;
}

#titulo-card3 {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: #F9EC10;
    width: 100%;
}

#ul-card3 a {
    color: #F1EFEF;
    text-decoration: none;
    width: 100%;
    font-size: 16px;
}

#caja-descargas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 140px;
    color: #F1EFEF;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

#titulo-descarga {
    width: 330px;
    height: 80px;
    font-size: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 3px;
    animation: escribiendo 6s steps(20) infinite, pleca 0.5s step-end infinite alternate;
    font-family: 'Inconsolata', monospace;
}

@keyframes escribiendo {

    0%,
    100% {
        width: 0;
    }

    40%,
    60% {
        width: 330px;
    }

    90% {
        width: 0;
    }
}

@keyframes pleca {
    50% {
        border-color: transparent;
    }
}

#card-link {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.a-descarga {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 220px;
    height: 100px;
    border-radius: 15px;
    border: 1.5px solid #F9EC10;
    text-decoration: none;
    color: #F1EFEF;
}

.a-descarga img {
    width: 80px;
}

.a-descarga:hover {
    box-shadow: 0px 0px 10px 4px rgb(255, 165, 0);
}

#contenedor-de-armeria {
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('/svg/fondo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#titulo-armeria {
    color: #F9EC10;
    font-family: 'Raleway', sans-serif;
}


.menu-checkbox {
    display: none;
}

.menu-armeria {
    position: relative;
}

.menu-dots {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: 0 0 0 0.3rem #F9EC10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    transition: 0.3s;
    cursor: pointer;
}

.menu-dots:hover {
    transform: scale(1.2) rotate(90deg);
}

.menu-dot {
    width: 0.45rem;
    height: 0.45rem;
    background-color: #F9EC10;
    border-radius: 50%;
}

.menu-dot+.menu-dot {
    margin-top: 0.3rem;
}

.menu-items {
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    position: absolute;
    top: -2.4rem;
    left: -2.2rem;
    width: 12rem;
    height: 12rem;
    pointer-events: none;
    display: grid;
    grid-template-columns:
        0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-rows:
        0.8fr 0.8fr 0.8fr 0.8fr;
    gap: 0px 0px;
    grid-template-areas:
        ". a b ."
        "h . . c"
        "g . . d"
        ". f e .";
    opacity: 0;
    transition: 0.3s;
}

.item1 {
    grid-area: a;
}

.item2 {
    grid-area: b;
}

.item3 {
    grid-area: c;
}

.item4 {
    grid-area: d;
}

.item5 {
    grid-area: e;
}

.item6 {
    grid-area: f;
}

.item7 {
    grid-area: g;
}

.item8 {
    grid-area: h;
}

.fa {
    color: #878787;
    transition: 1000ms;
}

.fa:hover {
    transform: scale(1.9);
}

#item1 img {
    width: 30px;
    height: 30px;
}

#item2 img {
    width: 30px;
    height: 30px;
}

#item3 img {
    width: 30px;
    height: 30px;
}

#item4 img {
    width: 30px;
    height: 30px;
}

#item5 img {
    width: 30px;
    height: 30px;
}

#item6 img {
    width: 30px;
    height: 30px;
}

#item7 img {
    width: 30px;
    height: 30px;
}

#item8 img {
    width: 30px;
    height: 30px;
}


.menu-checkbox:checked+.menu-armeria>.menu-dots {
    transform: none;
    box-shadow: 0 0 0 4rem #F9EC10;
}

.menu-checkbox:checked+.menu-armeria>.menu-items {
    opacity: 1;
    pointer-events: auto;
}

.menu-closer-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
}

.menu-checkbox:checked+.menu-armeria>.menu-closer-overlay {
    pointer-events: auto;
    cursor: pointer;
}

.blur {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/svg/fondo2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    z-index: 1;
}

.caja-de-cards {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    z-index: 1;
}

.cards-de-caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 40%;
    text-align: center;
    background-image: url('/svg/fondo2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}

.close-cards1 {
    width: 0;
}

.cards-de-caja h1 {
    color: #F9EC10;
}

.cards-de-caja p {
    color: #F1EFEF;
}

.cards-de-caja h1 {
    color: #F9EC10;
}

.cards-de-caja p {
    width: 95%;
}

#caja-blur-icon-titulo {
    padding-top: 2px;
}

#caja-blur-icon-titulo img {
    cursor: pointer;
}

#titulo-objetos {
    color: #F9EC10;
    font-family: 'Raleway', sans-serif;
}

#caja-objetos {
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(200px, 1fr));
    gap: 15px;
    justify-content: space-around;
    width: 90%;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    box-shadow: 0px 0px 10px 4px rgb(255, 165, 0);
    margin: 18px;
    border-radius: 10px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #F9EC10;
    border-top: 2px solid #F9EC10;
    background-color: #262626;
}

footer img {
    width: 300px;
}

.inactive {
    display: none;
}


@media (max-width: 925px) {

    .caja-de-cards {
        position: sticky;
        top: 0;
        width: 100%;
        height: 620px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fafafa10;
        backdrop-filter: blur(0.4rem);
        -webkit-backdrop-filter: blur(0.4rem);
        z-index: 1;
    }

    .cards-de-caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        text-align: center;
        background-image: url('/svg/fondo2.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 2px solid black;
    }

    #close-card1 {
        position: sticky;
        top: 5px;
        left: 5px;
        width: 40px;
        cursor: pointer;
    }

    .cards-de-caja h1 {
        color: #F9EC10;
        font-size: 2rem;
    }

    .cards-de-caja p {
        color: #F1EFEF;
        font-size: 1.5rem;
    }

    header {
        height: 350px;
    }

    #titulo-header {
        font-size: 4rem;
    }

    #primera-caja {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 350px;
    }

    #titulo-cajita1 {
        font-size: 1rem;
    }

    #personaje1 {
        width: auto;
        height: 200px;
    }

    #parrafo-cajita1 {
        width: 160px;
        height: 120px;
        font-size: 10px;
        color: #F1EFEF;
        text-align: start;
        padding-right: 8px;
    }

    #redes-sociales img {
        width: 15px;
    }

    #cajita1 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .cajita1-fotos-F {
        width: 48%;
        height: 100px;
    }

    #segunda-caja {
        height: 550px;
    }

    #contenedor-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #card1 {
        width: 300px;
        height: max-content;
    }

    #titulo-card1 {
        font-size: 1rem;
    }


    #ul-card1 {
        height: 100%;
        gap: 0;
    }

    #ul-card1 a {
        font-size: 10px;
    }

    #card2 {
        display: none;
    }

    #card2 img {
        display: none;
        height: 300px;
        bottom: 50%;
        right: 50%;
    }

    #img-movil {
        height: 300px;
        bottom: 50%;
        right: 50%;
    }

    #card3 {
        width: 300px;
        height: 100%;
    }

    #titulo-card3 {
        font-size: 1rem;
    }

    #caja-descargas {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #titulo-descarga {
        font-size: 1.5rem;
    }

    #card-link {
        display: flex;
        justify-content: space-evenly;
    }

    #titulo-descarga {
        width: 250px;
        height: 30px;
        font-size: 1.5rem;
        white-space: nowrap;
        overflow: hidden;
        border-right: solid 3px;
        animation: escribiendo 6s steps(20) infinite, pleca 0.5s step-end infinite alternate;
        font-family: 'Inconsolata', monospace;
    }

    @keyframes escribiendo {

        0%,
        100% {
            width: 0;
        }

        40%,
        60% {
            width: 250px;
        }

        90% {
            width: 0;
        }
    }

    @keyframes pleca {
        50% {
            border-color: transparent;
        }
    }

    .a-descarga {
        width: 45%;
        height: 50px;
    }

    .a-descarga img {
        width: 30px;
    }

    #parrafo-descarga1 {
        font-size: 10px;
    }

    #parrafo-descarga2 {
        font-size: 10px;
    }

    #contenedor-de-armeria {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #titulo-armeria {
        text-align: center;
    }

    footer img {
        width: 150px;
    }

}